@import "map";
@import "entity-manager";

$width: 230px;

.entity-manager-entities {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  @import "entity";
  @import "entities/project";
  @import "entities/room";
  @import "entities/rectangle";
}

.entity-manager-available-entities {
  z-index: 100;
  position: absolute;
  left: -$width;
  top: 0;
  bottom: 0;
  width: $width;
  background: #e6e3e3;
  transition: left .3s;
  &.active {
    left: 0;
  }
  .entity-manager-available-entities-toggle {
    position: absolute;
    left: 100%;
    top: 20px;
    width: 32px;
    height: 32px;
    line-height: 26px;
    font-size: 34px;
    text-align: center;
    border-radius: 0 5px 5px 0;
    background: rgba(0, 0, 0, .2);
    cursor: pointer;
  }
  .entity-manager-available-entities-inner {
    max-height: 100%;
    overflow-y: scroll;
    .entity-wrapper {
      left: auto !important;
      top: auto !important;
      width: auto !important;
      height: auto !important;
      transform: none !important;
      background: #fff;
      border-bottom: 1px solid #fff;
      cursor: pointer;
      padding: 4px;
      margin: 4px;
      &.selected {
        box-shadow: 0 0 0 1px #fff, 0 0 0 3px #ff5138, 0 0 5px #f00;
      }
      .entity {
        .entity-delete {
          display: none;
        }
      }
    }
  }
}

.entity-manager-controls {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}

body {
  background: #f1f1f1;
  padding: 40px;
}

.frame {
  max-width: 800px;
  margin: auto;
  border: 1px solid #000;
}